<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header.html :: header"></div>
    <script type="module" src="/static/js/index.js" defer></script>
</head>


<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" id="style">
        <div id="shop" class="font">CODECOOL SHOP</div>
        <a class="navbar-brand font" href="#">Products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <select name="categories" id="categories">
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                                th:data-category="${category.id}">
                        </option>
                    </select>
                </li>
                <li class="nav-item">
                    <select name="suppliers" id="suppliers">
                        <option th:each="supplier : ${suppliers}"
                                th:text="${supplier.name}"
                                th:value="${supplier.id}"
                                th:data-supplier="${supplier.id}">
                        </option>
                    </select>
            </ul>
            <ul id="cart">
                <li class="cart-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i><span id="cartItems"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<!--<div class="container">-->
<!--    <div class="card d-flex justify-content-between flex-row">-->
<!--        <select name="categories" id="categories">-->
<!--            <option th:each="category : ${categories}"-->
<!--                    th:text="${category.name}"-->
<!--                    th:value="${category.id}"-->
<!--                    th:data-category="${category.id}">-->
<!--            </option>-->
<!--        </select>-->
<!--        <select name="suppliers" id="suppliers">-->
<!--            <option th:each="supplier : ${suppliers}"-->
<!--                    th:text="${supplier.name}"-->
<!--                    th:value="${supplier.id}"-->
<!--                    th:data-supplier="${supplier.id}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

    <div id="products" class="container index-items-container">
        <div th:each="prod,iterStat : ${products}">
            <div class="card">
                <div class="product-img-holder">
                    <img class="product-img" th:src="${prod.img}" alt=""/>
                </div>

                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text card-description" th:text="${prod.description}">Product description... </p>
                </div>

                <div class="card-body">
                    <div class="card-text card-price">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <a th:data-id="${prod.getId()}" class="btn btn-add add">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>